{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="profile-card">
        <h2>Your Profile ({{ user_email }})</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="form-content">
                <div class="form-group">
                    <label for="favorite_west_team">Favorite Western Conference Team</label>
                    <select id="favorite_west_team" name="favorite_west_team" required>
                        {% for team in west_teams %}
                            <option value="{{ team.abbr }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="favorite_east_team">Favorite Eastern Conference Team</label>
                    <select id="favorite_east_team" name="favorite_east_team" required>
                        {% for team in east_teams %}
                            <option value="{{ team.abbr }}">{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}